.piechart {
  height: 300px;
  width: 280px;
  margin: 0 auto;
}

.badge-color-1{
  background-color: #0f6cbc;
}

.badge-color-2{
  background-color: #26b825;
}
.badge-color-3{
  background-color: #6354b9;
}
.badge-color-4{
  background-color: #e9a13b;
}
.badge-color-5{
  background-color: #ca433f;
}
.badge-color-6{
  background-color: #bb38d4;
}
.badge-color-7{
  background-color: #f1bf3a;
}
.badge-color-8{
  background-color: #12a7d2;
}
.badge-color-9{
  background-color: #64bf34;
}
.badge-color-0{
  background-color: #1db790;
}